<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
  </head>
  <body>
    <h1>Thêm việc cần làm</h1>
    <a href="/todolists">Trở về trang danh sách</a>
    <form method="POST" action="/todolists">
      <input type="text" name="todo" placeholder="Thêm việc cần làm" />
      <button type="submit">Lưu</button>
    </form>
  </body>
</html>
